<header>	
	<nav>
		<div class="nav-bar">
			<div class="row">
			  <%= link_to image_tag("Logo-white.png", class: "logo"), root_path %>
				<div class="nav-links js--nav-links">
					<ul>
						<li><a href="#about">About</a></li>
						<li><a href="#past-projects">Past Projects</a></li>
						<li><a href="#contact">Contact</a></li>
						<li><a href="#####">Dev Blog</a></li>
					</ul>
				</div>
				<a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
			</div>
		</div>
	</nav>			
</header>	