<header class="nav-bar">	
	<nav>
		<div class="row">
		  <%= link_to image_tag("Logo-white.png", class: "logo"), root_path %>
			<ul class="nav-main">
				<li><a href="#">About</a></li>
				<li><a href="##">Past Projects</a></li>
				<li><a href="###">Contact</a></li>
			</ul>
		</div>				
	</nav>			
</header>	