<header class="nav-bar">	
	<nav>
		<div class="row">
		  <%= link_to image_tag("Logo-white.png", class: "logo"), root_path %>
			<ul class="nav-main">
				<li><a href="#about">About</a></li>
				<li><a href="#past-projects">Past Projects</a></li>
				<li><a href="#contact">Contact</a></li>
				<li><a href="#####">Dev Blog</a></li>
			</ul>
		</div>				
	</nav>			
</header>	