<body>
  <section class="section-main">
    <div class="row">
      <div class="main-box">			
    		<h1>Clean. Efficient.<br>Design Solutions</h1>
    		<div class="btn">
    		  <a href="####" class="btn-main">Let's Get Started</a>
    	  </div>
    	</div>
  	</div>
  	  <div class="down-arrow">
    	 <h2>&#8675;<h2>
    </div>
  </section>
  
  <section class="section-about">
    <div class="row">
      <div class="intro">
        <p>
          Hi, my name is Colin. I am making this website as part of my journey to learn how to design a website. 
          Each time I learn something new, I will try to implement it into this site. So as my knowledge grows, so will this website. 
          Lets see where this journey takes me.
        </p>
      </div>
      
      
      
    </div>
  </section>	
  
</body>
